<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOFA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/visitor.js' %}" defer></script>
    <style>
        #message {
            text-align: center;
            font-size: 18px;
            color: white;
            flex: 0.85;
        }
    </style>
  </head>

  <body>
    <!-- Splash Screen -->
    <section id="splash-screen">
      <img
        src="{% static 'assets/LOGO-ICON.png' %}"
        alt="Logo-Image"
        class="image1"
      />
      <img
        src="{% static 'assets/LOGO-LETTER-WOBG.png' %}"
        alt="Logo-Image"
        class="image2"
      />
    </section>

    <!-- Onboarding Screens -->
    <section id="onboard">
      <div class="carousel-container">
        <!-- Screen 1 -->
        <div class="screen">
          <div class="top">
            <h1>
              Embrace the world
              with <b>DOFA</b>
            </h1>
            <p>The top-rated app where the world unite</p>
            <br />
          </div>
          <div class="bottom">
            <!-- <div class="indicator-container">
              <div class="indicator" style="background-color: #0a3d74"></div>
              <div class="indicator"></div>
            </div> -->
            <p id="message"></p>
            <div class="next" onclick="gotocheck()">
              <img
                src="{% static 'assets/Arrow - Right 2.svg' %}"
                alt="Next"
              />
            </div>
          </div>
        </div>

      
      </div>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
          document.getElementById("splash-screen").style.display = "none";
          document.getElementById("onboard").style.display = "flex";
        }, 2200);

        let currentSlide = 0;
        const slides = document.querySelectorAll("#onboard .screen");
        const carousel = document.querySelector(".carousel-container");
        const nextButtons = document.querySelectorAll("#onboard .next");

        function updateCarousel() {
          carousel.style.transform = `translateX(-${currentSlide * 50}%)`;
        }

        nextButtons.forEach((button) => {
          button.addEventListener("click", () => {
            if (currentSlide < slides.length - 1) {
              currentSlide++;
              updateCarousel();
            }
          });
        });
        updateCarousel();
      });

      function gotocheck() {
        window.location.href = '{% url "authentication-page" %}';
      }

      function setRealVH() {
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty("--vh", `${vh}px`);
      }
      window.addEventListener("resize", setRealVH);
      window.addEventListener("load", setRealVH);
    </script>
  </body>
</html>
